<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <script>
        // Функция для перехода на страницу редактирования
        function goToEdit(postId) {
            window.location.href = `/edit/${postId}`;
        }

        // Функция для подтверждения удаления и отправки запроса на удаление
        function deletePost(postId) {
            if (confirm('Вы уверены, что хотите удалить этот пост?')) {
                fetch(`/delete/${postId}`, {
                    method: 'POST',
                })
                .then(response => {
                    if (response.ok) {
                        window.location.href = '/';  // Перенаправляем на главную страницу после успешного удаления
                    } else {
                        alert('Ошибка при удалении поста.');
                    }
                })
                .catch(error => {
                    console.log('Ошибка:', error);
                    alert('Произошла ошибка.');
                });
            }
        }
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>

    <!-- Сохранение переносов строк в содержимом -->
    <p>{{ content | replace('\n', '<br>') | safe }}</p>

    <!-- Панель управления: Изменить и Удалить -->
    <div class="action-panel">
        <!-- Кнопка для редактирования -->
        <button class="button blue-button" onclick="goToEdit({{ post_id }})">Изменить</button>

        <!-- Кнопка для удаления -->
        <button class="button red-button" onclick="deletePost({{ post_id }})">Удалить</button>
    </div>

    <!-- Кнопка для возврата на главную -->
    <div>
        <a href="/" class="button return-home">На главную</a>
    </div>
</body>
</html>